@import '../../../styles/styles.scss';
@import '../../../styles/typography.scss';
@import '../../../styles/spacings.scss';

.intro {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);

  @include respond-to(large-screen) {
    width: 80%;
  }

  h1 {
    color: map-get($energieportal-client-grundfarben, 'headline-black');
  }

  .intro__lead {
    @include typo--lead();
    color: map-get($energieportal-client-grundfarben, 'copy-black');
  }
}
