<div class="intro-container">
    <!-- <div class="intro-content"> -->
    <div class="intro-content mat-typography">
        <div class="intro-titel">
            <span><h1>Willkommen beim städtischen Energieportal.</h1></span>
        </div>
        <div class="intro-lead">
            <span>Erfahren Sie hier, wie Sie Ihre Liegenschaft mit Wärmepumpen, einem Wärmeverbund oder Fernwärme beheizen können und entdecken Sie das Solarpotenzial Ihres Daches. Informieren Sie sich über energetische Sanierungsmöglichkeiten und Förderbeiträge oder melden Sie sich für eine Energieberatung an.</span>
        </div>
    </div>
</div>
