@import '../styles/breakpoints.scss';
@import '../styles/colors.scss';
@import '../styles/typography.scss';
@import '../styles/spacings.scss';
@import '../styles/custom-resets.scss';


// global styles

.container {
  padding: var(--spacing-10) var(--spacing-5) var(--spacing-24);

  @include respond-to(large-screen) {
    padding: 100px 189px 100px;
  }

  &.container--has-background {
    background: map-get($energieportal-client-grundfarben, 'winergie-gruen-light');
  }
}