@import '../../../styles/globals.scss';

@include respond-to(small-screen) {}

@include respond-to(large-screen) {}

.header {
  padding: var(--spacing-9) var(--spacing-5) var(--spacing-5);
}

.header__subline {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 0;

  @include respond-to(large-screen) {
    margin-bottom: var(--spacing-8);
  }
}

.header__link {
  @include typo--p2;

  color: map-get($energieportal-client-grundfarben, 'headline-black');
  display: flex;
  justify-content: space-between;

}

.header__title {
  @include typo--h2;

  display: none;
  color: map-get($energieportal-client-grundfarben, 'headline-black');

  @include respond-to(large-screen) {
    display: block;
    margin-bottom: var(--spacing-10);
  }
}

.red-line {
  position: absolute;
  top: var(--spacing-8);
  left: 0;
  width: 0.25rem;
  height: 2.625rem;
  flex-shrink: 0;
  background-color: map-get($energieportal-client-grundfarben, 'brand-rot-500');
}

.header__nav {
  @include typo--h5;

  display: none;
  color: map-get($energieportal-client-grundfarben, 'copy-black');

  @include respond-to(large-screen) {
    display: flex;
    gap: var(--spacing-8);
  }
}

.header__logo {
  display: none;

  @include respond-to(large-screen) {
    display: block;
  }
}