<mat-toolbar class="header-container">
  
    <mat-toolbar-row>

        <div class="red-line"></div>

        <span class="header-content" href="https://stadt.winterthur.ch/themen/leben-in-winterthur/energie-umwelt-natur/energie-klimaschutz/energieberatung">energieportal.winterthur.ch</span>

        <span class="header-content-spacer"></span>

        <mat-icon class="header-content-logo" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>

    </mat-toolbar-row> 

    <mat-toolbar-row>
        <span class="header-title">Energieportal Winterthur</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <div class="nav">
            <span>Online-Beratung</span>
            <span class="nav-divider">|</span>
            <span>Unser Beratungsangebot</span>
            <span class="nav-divider">|</span>
            <span>Kontakt</span>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
